<div class="container">
    <h1>Impressum</h1>
    <h4>
        Regionales Berufsbildungszentrum Flensburg
        ECKENER-SCHULE (AöR)
    </h4>
    <p class="lead">
    <h4>Schulleitung</h4>
    OStD Dr. Sven Mohr, Schulleiter </br>
    StD Dietmar Post, Stellvertretender Schulleiter </br>
    StD Hannes Manzke, Stellvertretender Schulleiter </br>
    </p>
    <p>
        Friesische Lücke 15 </br>
        24937 Flensburg </br></br>

        Telefon +49 (0) 461 - 85 25 31 </br>
        Fax +49 (0) 461 - 85 21 43 </br>
        Mail verwaltung@esfl.de </br>
        Web www.eckener-schule.de
    </p>
    <h4>Schulträger</h4>
    <p>
        Stadt Flensburg </br>
        vertreten durch den </br>
        Oberbürgermeister Simone Lange </br></br>

        Rathausplatz 1 </br>
        24939 Flensburg </br></br>

        Telefon +49 (0) 461 - 85 0 </br>
        Web www.flensburg.de</br>
    </p>
    <h4>Internet-Team</h4>
    <p>
        Georg Reuters, Marco Stimming </br>
        Mail webmaster@esfl.de </br>
        Der Betreiber dieser Website haftet nicht für den Inhalt externer Internetseiten, zu denen er Hyperlinks auf
        seiner
        Homepage eingebunden hat. </br>
        Der Inhalt der externen Seiten entspricht nach Kenntnis des Betreibers dieser Homepage geltendem Recht. </br>
        Von etwaigen Verstößen gegen Rechtsvorschriften durch die externen Seiten ist ihm nichts bekannt. </br>
        Sollten ohne Wissen des Betreibers auf externen Seiten Rechtsverstöße stattfinden, so distanziert </br>
        sich der Betreiber hiermit ausdrücklich von diesen Verstößen. Eine Distanzierung findet auch von </br>
        den sonstigen rechtmäßigen und -widrigen Inhalten der externen Seiten statt, für die lediglich die </br>
        Betreiber jener Seiten verantwortlich sind und auf die der Betreiber dieser Homepage keinen Einfluss nehmen
        kann. </br>
        Durch das Versenden von Kontaktformularen (und sonstigen Formularen) von dieser Website aus, werden
        personenbezogene
        Daten (Adresse und email-Angabe) erfasst. </br>
        Deren Verwendung erfolgt ausschließlich firmenintern. Eine Weitergabe an Dritte erfolgt nicht. Bei jedem Zugriff
        eines Nutzers </br>
        auf eine Seite unserer Internet-Präsenz und bei jedem Abruf einer Datei werden vom Provider über diesen Vorgang
        Daten in einer </br>
        Protokolldatei gespeichert. Die Speicherung dient ausschließlich internen systembezogenen und statistischen
        Zwecken. </br>
        Die Löschung dieser Statistik-Rohdaten erfolgt durch den Provider in regelmäßigen Abständen.</br>
    </p>

</div>
