<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Newsletter - [[*title]]</title>
    <meta name="description"
          content="Here is a short description for the page. This text is displayed e. g. in search engine result listings.">
    <link href="css/bootstrap-darkly.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- <link href="css/custom.css" rel="stylesheet"> -->
    <base href="[[*baseUrl]]"/>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="index.php" class="navbar-brand">PatternDB</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.php">Home</a>
                </li>
                <li>
                    <a href="index.php?action=show">Pattern</a>
                </li>
                <li>
                    <a href="index.php?action=impressum">Imprint</a>
                </li>
                <li>
                    <a href="index.php">Data Privacy</a>
                </li>
            </ul>
        </div>
    </div>
</div>
[[*content]]
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<footer class="footer jumbotron container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            &copy; IT-B1-15 [[*year]]
        </div>
    </div>
</footer>
</body>
</html>
