<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Newsletter - [[*title]]</title>
        <meta name="description" content="Here is a short description for the page. This text is displayed e. g. in search engine result listings.">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <base href="[[*baseUrl]]" />
    </head>
    <body>
        <header class="container">
            <a href="index.php"><span class="glyphicon glyphicon-home"></span> Home</a> [[*header]]
        </header>
        <section class="container bg-color01">
            <h1>[[*title]]</h1>
            [[*content]]
        </section>
        <footer class="container bg-color02">
            [[*footer]]
        </footer>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>
    </body>
</html>