<form id="formKunde" action="index.php" method="get">
<input type="hidden" name="action" value="showCustomers" /> <!-- action-Parameter gibt hier das Ziel an -->
    <fieldset>
        <legend><span class="glyphicon glyphicon-user"></span> Kundendaten hinzufügen</legend>
        <div class="form-group">
            <select id="anrede" name="anrede" class="form-control" autofocus="autofocus">
                <option value="F" selected="selected" >Frau</option>
                <option value="M" >Herr</option>
            </select>
        </div>
        <div class="form-group">
            <input id="firstName" name="firstName" type="text" title="Vorname" placeholder="Vorname" required="required" />
            <label for="firstName">Vorname*</label>
        </div>
        <div class="form-group">
            <input id="lastName" name="lastName" type="text" title="Nachname" placeholder="Nachname" required="required" />
            <label for="lastName">Nachname*</label>
        </div>
        <div class="form-group">
            <input id="email" name="email" type="email" title="email@example.org" placeholder="E-Mail" required="required" />
            <label for="email"><span class="glyphicon glyphicon-envelope"></span> E-Mail*</label>
        </div>
        <div class="form-group">
            <input id="firma" name="firma" type="text" title="Firma" placeholder="Firma" />
            <label for="firma"><span class="glyphicon glyphicon-briefcase"></span> Firma</label>
        </div>
        <div class="form-group">
            <input id="url" name="url" type="url"  title="http://www.example.org oder https://www.example.org" placeholder="http://www.example.org" />
            <label for="url"><span class="glyphicon glyphicon-globe"></span> Webseite (mit http://)</label>
        </div>
        <div class="form-group">
            <input id="phone" name="phone" type="tel"  title="Telefonnummer: z. B. +494611234567" placeholder="+49461..." />
            <label for="phone"><span class="glyphicon glyphicon-phone"></span> Telefonnummer</label>
            <span id="helpBlock" class="help-block">* = Pflichtfeld</span>
        </div>
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Kunde hinzufügen" />
</form>