<div class="container">
    <div class="row mb-5">
        <div class="col">
            <h1 class="text-center">Name</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-6">
            <figure>
                <img src="images/patterns/decorator.png"/>
                <figcaption>Klassendiagramm</figcaption>
            </figure>
        </div>
        <div class="col-6">
            <ul>
                <li>Cake jelly brownie chocolate bar icing apple pie sweet roll. Bear claw tart tiramisu pudding.</li>
                <li>Cupcake dragée halvah carrot cake sesame snaps chocolate caramels. Apple pie gummies tiramisu
                    gingerbread.
                </li>
                <li>Gummies cake liquorice cake gummies oat cake cake icing. Powder croissant bear claw danish cake.
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col mb-5">
            <p>
                Sesame snaps liquorice pie. Soufflé jelly beans gingerbread. Jelly-o carrot cake bear claw marzipan
                lemon
                drops jelly beans croissant pie biscuit. Croissant danish bonbon cake lemon drops cake jelly-o cake.
                Pastry
                wafer dragée sweet roll toffee. Donut dragée pudding candy sesame snaps toffee marzipan. Tart pie bear
                claw
                jelly. Cheesecake cheesecake powder chocolate candy bear claw macaroon danish cake. Toffee jelly
                tiramisu.
                Liquorice cupcake jelly-o cake sugar plum tart. Sweet roll tootsie roll sweet roll gummies jelly jelly-o
                tootsie roll donut. Bonbon sugar plum apple pie. Chocolate bar candy canes macaroon lemon drops oat cake
                powder fruitcake
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Ähnliche Entwurfsmuster</h3>
            <div class="list-inline">
                <div class="list-inline-item">
                    <a href="#">
                        Name Pattern 1
                    </a>
                </div>
                <div class="list-inline-item">
                    <a href="#">
                        Name Pattern 2
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

