<div class="container">
    <div class="pattern">
        <div class="row mb">
            <div class="col-md-12">
                <h1 class="text-center">Name</h1>
            </div>
        </div>
        <div class="row mb">
            <div class="col-md-6">
                <figure class="pattern__image">
                    <img src="images/patterns/decorator.png"/>
                    <figcaption><em>Abb. Klassendiagramm</em></figcaption>
                </figure>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Cake jelly brownie chocolate bar icing apple pie sweet roll. Bear claw tart tiramisu pudding.</li>
                    <li>Cupcake dragée halvah carrot cake sesame snaps chocolate caramels. Apple pie gummies tiramisu
                        gingerbread.
                    </li>
                    <li>Gummies cake liquorice cake gummies oat cake cake icing. Powder croissant bear claw danish cake.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mb">
            <div class="col-md-12">
                <p>
                    Sesame snaps liquorice pie. Soufflé jelly beans gingerbread. Jelly-o carrot cake bear claw marzipan
                    lemon
                    drops jelly beans croissant pie biscuit. Croissant danish bonbon cake lemon drops cake jelly-o cake.
                    Pastry
                    wafer dragée sweet roll toffee. Donut dragée pudding candy sesame snaps toffee marzipan. Tart pie bear
                    claw
                    jelly. Cheesecake cheesecake powder chocolate candy bear claw macaroon danish cake. Toffee jelly
                    tiramisu.
                    Liquorice cupcake jelly-o cake sugar plum tart. Sweet roll tootsie roll sweet roll gummies jelly jelly-o
                    tootsie roll donut. Bonbon sugar plum apple pie. Chocolate bar candy canes macaroon lemon drops oat cake
                    powder fruitcake
                </p>
            </div>
        </div>
        <div class="row mb">
            <div class="col-md-4">
                <h3>Ähnliche Entwurfsmuster</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#">
                            Name Pattern 1
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Name Pattern 2
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

