<div class="row">
	<div class="col-xs-12" style="background-color:white;">
		<img src="https://openclipart.org/image/2400px/svg_to_png/266410/1479225488.png" width="100%"/>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-10 text-center content-container">
		<h1>Design Patterns</h1>
	</div>
	<div class="col-xs-1"></div>
</div>
<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-10 text-center content-container">
		<p>
			In software engineering, a software design pattern is a general reusable solution to a commonly occurring problem within a given context in software design. 
			It is not a finished design that can be transformed directly into source or machine code. It is a description or template for how to solve a problem that can be 
			used in many different situations. Design patterns are formalized best practices that the programmer can use to solve common problems when designing an application or system.
			Object-oriented design patterns typically show relationships and interactions between classes or objects, without specifying the final application classes or objects 
			that are involved. Patterns that imply mutable state may be unsuited for functional programming languages, some patterns can be rendered unnecessary in languages that 
			have built-in support for solving the problem they are trying to solve, and object-oriented patterns are not necessarily suitable for non-object-oriented languages.
			Design patterns may be viewed as a structured approach to computer programming intermediate between the levels of a programming paradigm and a concrete algorithm.
		</p>
	</div>
	<div class="col-xs-1"></div>
</div>
<br />
<div class="row">
	<div class="col-sm-5 col-xs-10 col-sm-offset-1 col-xs-offset-1">
		<div class="row content-container mediaLeft">
			<div class="col-xs-12 col-sm-6">
				<img class="previewImage" src="https://upload.wikimedia.org/wikipedia/de/b/b2/StatePattern_Statechart.png"/>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h4>Title</h4>
				<p class="description">In software engineering, a software design pattern is a general reusable solution to a commonly occurring problem within a given context in software design. 
				It is not a finished design that can be transformed directly into source or machine code. It is a description or template for how to solve a problem that can be 
				used in many different situations. Design patterns are formalized best practices that the programmer can use to solve common problems when designing an application or system.
				Object-oriented design patterns typically show relationships and interactions between classes or objects, without specifying the final application classes or objects 
				that are involved. Patterns that imply mutable state may be unsuited for functional programming languages, some patterns can be rendered unnecessary in languages that 
				have built-in support for solving the problem they are trying to solve, and object-oriented patterns are not necessarily suitable for non-object-oriented languages.
				Design patterns may be viewed as a structured approach to computer programming intermediate between the levels of a programming paradigm and a concrete algorithm.</p>
			</div>
		</div>
	</div>
	<div class="col-sm-5 col-xs-10 col-sm-offset-0 col-xs-offset-1">
		<div class="row content-container mediaRight">
			<div class="col-xs-12 col-sm-6">
				<img class="previewImage" src="https://upload.wikimedia.org/wikipedia/de/b/b2/StatePattern_Statechart.png"/>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h4>Title</h4>
				<p class="description">In software engineering, a software design pattern is a general reusable solution to a commonly occurring problem within a given context in software design. 
				It is not a finished design that can be transformed directly into source or machine code. It is a description or template for how to solve a problem that can be 
				used in many different situations. Design patterns are formalized best practices that the programmer can use to solve common problems when designing an application or system.
				Object-oriented design patterns typically show relationships and interactions between classes or objects, without specifying the final application classes or objects 
				that are involved. Patterns that imply mutable state may be unsuited for functional programming languages, some patterns can be rendered unnecessary in languages that 
				have built-in support for solving the problem they are trying to solve, and object-oriented patterns are not necessarily suitable for non-object-oriented languages.
				Design patterns may be viewed as a structured approach to computer programming intermediate between the levels of a programming paradigm and a concrete algorithm.</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-5 col-xs-10 col-sm-offset-1 col-xs-offset-1">
		<div class="row content-container mediaLeft">
			<div class="col-sm-6">
				<img class="previewImage" src="https://upload.wikimedia.org/wikipedia/de/b/b2/StatePattern_Statechart.png"/>
			</div>
			<div class="col-sm-6">
				<h4>Title</h4>
				<p class="description">In software engineering, a software design pattern is a general reusable solution to a commonly occurring problem within a given context in software design. 
				It is not a finished design that can be transformed directly into source or machine code. It is a description or template for how to solve a problem that can be 
				used in many different situations. Design patterns are formalized best practices that the programmer can use to solve common problems when designing an application or system.
				Object-oriented design patterns typically show relationships and interactions between classes or objects, without specifying the final application classes or objects 
				that are involved. Patterns that imply mutable state may be unsuited for functional programming languages, some patterns can be rendered unnecessary in languages that 
				have built-in support for solving the problem they are trying to solve, and object-oriented patterns are not necessarily suitable for non-object-oriented languages.
				Design patterns may be viewed as a structured approach to computer programming intermediate between the levels of a programming paradigm and a concrete algorithm.</p>
			</div>
		</div>
	</div>
	<div class="col-sm-5 col-xs-10 col-sm-offset-0 col-xs-offset-1">
		<div class="row content-container mediaRight">
			<div class="col-sm-6">
				<img class="previewImage" src="https://upload.wikimedia.org/wikipedia/de/b/b2/StatePattern_Statechart.png"/>
			</div>
			<div class="col-sm-6">
				<h4>Title</h4>
				<p class="description">In software engineering, a software design pattern is a general reusable solution to a commonly occurring problem within a given context in software design. 
				It is not a finished design that can be transformed directly into source or machine code. It is a description or template for how to solve a problem that can be 
				used in many different situations. Design patterns are formalized best practices that the programmer can use to solve common problems when designing an application or system.
				Object-oriented design patterns typically show relationships and interactions between classes or objects, without specifying the final application classes or objects 
				that are involved. Patterns that imply mutable state may be unsuited for functional programming languages, some patterns can be rendered unnecessary in languages that 
				have built-in support for solving the problem they are trying to solve, and object-oriented patterns are not necessarily suitable for non-object-oriented languages.
				Design patterns may be viewed as a structured approach to computer programming intermediate between the levels of a programming paradigm and a concrete algorithm.</p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		//console.log();
	});
</script>